{{> header}}

{{> nabvar}}

<div class="row">
    <div class="col-8">
        <h1>Bandera de los Mugiwara</h1>
        <p>Bandera perteneciente a los piratas los mugiwara!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/mugiwara.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}